<h1>Listing comments</h1>

<table>
  <tr>
    <th>Document</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.document_id %></td>
    <td><%= comment.comment %></td>
    <td><%= link_to 'Show', [comment.document, comment] %></td>
    <td><%= link_to 'Edit', edit_document_comment_path(comment.document, comment) %></td>
    <td><%= link_to 'Destroy', [comment.document, comment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_document_comment_path(params[:document_id]) %>
