<p id="notice"><%= notice %></p>

<p>
  <b>Document:</b>
  <%= @comment.document_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>


<%= link_to 'Edit', edit_document_comment_path(@comment.document, @comment) %> |
<%= link_to 'Back', document_comments_path(@comment.document) %>
